# Python
__pycache__/
*.py[cod]
.pytest_cache/
*$py.class
.venv/
venv/
env/

# Data & Checkpoints
*.safetensors
*.npz
*.pt
*.bin
train.txt
val.txt
*.jsonl

# MacOS & System
.DS_Store

# IDEs
.idea/
.vscode/

# Secrets
.env

# Logs
/*.log

*.log
records/**/*.log
runpodctl.tar.gz
